@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}
body {
	background:#D9D9D9 url(../images/background.jpg) 0 0 repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#container {
	width:900px;
	background:#D4C296;
	margin:0 auto;
	overflow:hidden;
}
#banner {
	position:relative;
	background-image:url(../images/banner.jpg);
	height:120px;
	width:900px;
}
#nav_menu {
	position:absolute;
	left:21px;
	right:20px;
	top:100px;
	width:859px;
	height:20px;
}
#mission {
	background-image:url(../images/mission2019.jpg);
	height:440px;
	width:900px;
}
#copyright {
	width:900px;
	height:35px;
	text-align:right;
}
#column_left {
	float:left;
	width:300px;
	text-align:center;
}
#column_center {
	float:left
	width:300px;
	text-align:center;
}
#column_right {
	float:right;
	width:300px;
	text-align:center;
}
#copyright_ud {
	float:left;
	margin:0 auto;
	width:900px;
	height:25px;
	text-align:center;
}
p.center {
	text-indent:0px;
	text-align:center;
}
table.nav {
	border:none;
	border-spacing:0px;
	padding:0px;
	background-color:#7B3D24;
	width:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#D4C296;
	text-decoration:none;
	text-align:left;
}
table.nav tr.top {
	border:none;
	padding:0px;
	height:20px;
}
table.nav td.off {
	border:none;
	padding:0px 4px;
	background-color:#7B3D24;
	color:#D4C296;
	height:14px;
	cursor:pointer;
}
table.nav td.on {
	border:none;
	padding:0px 4px;
	background-color:#9C6E5B;
	color:#D4C296;
	height:14px;
	cursor:pointer;
}
table.nav td.off-head {
	border:none;
	padding:0px 4px;
	background-color:#7B3D24;
	color:#D4C296;
	height:14px;
	cursor:pointer;
	font-weight:bold;
}
table.nav td.on-head {
	border:none;
	padding:0px 4px;
	background-color:#9C6E5B;
	color:#D4C296;
	height:14px;
	cursor:pointer;
	font-weight:bold;
}
table.nav td.top-on {
	border:none;
	padding:0px 4px;
	background-color:#D4C296;
	color:#7B3D24;
	height:14px;
	cursor:pointer;
}
table.nav td.space {
	border:none;
	padding:0px;
	width:4px;
	height:14px;
}
table.nav table.sub-nav {
	border:none;
	border-spacing:0px;
	padding:0px;
	background-color:#7B3D24;
	width:auto;
	position:absolute;
	top:20px;
	visibility:hidden;
	text-align:left;
}
table.nav table.sub-nav-end {
	border:none;
	border-spacing:0px;
	padding:0px;
	background-color:#7B3D24;
	width:auto;
	position:absolute;
	top:20px;
	right:5px;
	visibility:hidden;
	text-align:left;
}
table.nav p {
	text-indent:0px;
	text-align:left;
}
.info {
	margin: 10px auto;
	width:260px;
	text-align:justify;
}
.link_header {
	font-size:11px;
	text-transform:uppercase;
}
ul.link_list {
	margin-top:-5px;
	list-style-type:none;
	list-style-position:inside;
	margin-left:30px;
	text-indent:-10px;
	margin-right:20px;
	text-align:left;
}
ul.link_list li {
	margin-top:5px;
}
hr.bottom {
	margin:auto;
	height:1px;
	width:800px;
	border-width:0px;
	color:#7B3D24;
	background-color:#7B3D24;
}
hr.menu {
	margin:auto;
	height:1px;
	width:90%;
	border-width:0px;
	color:#9C6E5B;
	background-color:#9C6E5B;
}
a:link {
	color:#7B3D24;
	text-decoration:underline;
}
a:visited {
	color:#9C6E5B;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
.inactive {
	color:#999999;
}
